{
    "innerRadius": 4, //size of the hole inside - the higher, the larger
    "outerRadius": 9, //max size of the pie menu - the higher, the larger
    "polygonSmoothing": 2, //how closely the resulting polygon will be to a full circle, the higher, the more circle-like it will become. CAN DIP FRAMES IF TOO LARGE.
    "closeAfterButtonPress": true, //closes the pie menu upon first button pressed if true
    "ringTransitionTime": 15, //Amount of time spent PER RING on opening and closing in ticks
    "popUpHoverTime": 5, //amount of ticks you need to hover over a button to make the pop up appear
    "ringEasingMethod": "inOutSine", //Method from easing.lua that's used to interpolate the size as it opens/closes
    "buttonPressSound": "/sfx/gun/reload/machinepistol_reload_clip1.ogg",
    "buttonReleaseSound": "/sfx/gun/reload/sniper_reload_clip2.ogg"
}