{
    "name": "Jitter Dash",
    "tag": "JTr",
    "series": "standard",
    "settings": {
        "energyConsumption": {
            "type": "instant", //instant, drain
            "amount": 10 //Positive numbers (% of energy drained)
        },
        "disableSolidHitbox": false,
        "stopPassiveVisuals": false,
        "persistent": false,
        "canSkillCancel": true
    }
}