{
	"tag": "glD",
	"series": "standard",
	"settings": {
		"disableSolidHitbox": false,
		"stopPassiveVisuals": true,
		"persistent": true,
		"energyConsumption": {
			"type": "drain",
			"amount": 1
		},
		"LSD_particle_density": 6,
		"LSD_particle_len": 1,
		"LSD_particle_mul": 10,
		"LSD_particle_override":{
			"timeToLive": 1,
			"destructionTime": 2,
			"destructionAction": "fade",
			"layer":"back",
			"variance":{
				"velocity": [3,3],
				"destructionTime": 0.1
			}
		},
		"big_trail_len": 1,
		"big_trail_overrides": {
			"timeToLive": 0.5,
			"destructionTime": 2,
			"layer": "back"
		}
	},
	"name": "Assblaster"
}