{
	"tag": "sGS",
	"settings": {
		"disableSolidHitbox": true,
		"stopPassiveVisuals": false,
		"canSkillCancel": true,
		"energyConsumption": {
			"type": "instant",
			"amount": 10
		},
		"dashRange": 15,
		"timings":{
			"chargeUp": 38,
			"letters": 25,
			"dash": 28,
			"pose": 100
		},
		"easing": "inQuad",
		"queryRange": 2,
		"blackScreenChain":{
			"segmentImage":  "/particles/ember/1.png?setcolor=000000?scale=1000", 
			"fullbright": true,
			"renderLayer": "foregroundEntity+1",
			"segmentSize": 0.125
		},
		"attackKeyframes": [34,69,110,144,159,171,181,193,204,214,224,233,240,245,252,257,263,268,273,278,283,288,293,298,304,309,314,318,324,330],
		"hitParticleSpecification":{
			"type" : "animated",
			"animation" : "", //string.format("/animations/1hswordhitspark/1hswordhitspark.animation?brightness=20?border=1;%s80;%s00", color:hex(1), color:hex(3)),
			"size" : 1, //math.max(3,self.parameters.comboCount/3),
			"animationCycle" : 0.2,
			"destructionAction" : "fade",
			"destructionTime" : 0.2,
			"initialVelocity" : [0,0],
			"finalVelocity" : [0,0],
			"approach" : [0,0],
			"timeToLive" : 0.51,
			"fullbright" : true,
			"layer" : "front",
			"variance" : {
				"rotation": 45,
				"size" : 0.5,
				"angularVelocity" : 180
			}
		},
		"positionTrigRatio": [1,0.4],
		"lightningOverrides":{
			"timeToLive":0.1,
			"destructionTime":1,
			"destructionAction": "shrink"
		},
		"postAttackBlinkDist":3,
		"explosionRadius": 5,
		"poseParticleSpecification":{
			"type" : "textured",
			"image" : "/objects/hylotl/hylotlcalligraphy1/hylotlcalligraphy1.png?replace;4B2E10FF=00000000;70481EFF=00000000;8D6132FF=00000000;A1B7A2FF=00000000;DEECDFFF=00000000;789078FF=00000000;404C40FF=FFFFFFFF",
			"size" : 5,
			"position" : [0,7],
			"destructionAction" : "fade",
			"fullbright" : true,
			"destructionTime" : 1,
			"layer" : "front"
		},
		"LSD_particle_density": 9,
		"LSD_particle_len": 2,
		"LSD_particle_mul": 8,
		"LSD_particle_override":{
			"timeToLive": 1,
			"destructionTime": 1,
			"destructionAction": "shrink",
			"layer": "back",
			"variance":{
				"velocity": [10,10],
				"destructionTime": 0.1
			}
		},
		"eyeTrailOverrides":{
			"timeToLive": 0.1,
			"destructionTime": 0.5,
			"desturctionAction": "shrink"
		},
		"eyeTrailVerticalOffset": 1
	},
	"name": "Shin Goku Satsu"
}