{
	"tag": "iNF",
	"name": "inFamous",
	"settings": {
		"disableSolidHitbox": false,
		"stopPassiveVisuals": false,
		"persistent": false,
		"energyConsumption": {
			"type": "instant",
			"amount": 10
		},
		"lift_easing": "inOutSine",
		"lift_displacement": [0,5],
		"stage2Duration": 180,
		"nextArmFrame": 30,
		"projectile":{
			"radius": 2.5,
			"horizontal_size": 8,
			"overrides":{
				"layer": "middle",
				"timeToLive": 0.2,
				"destructionTime": 0.15,
				"destructionAction": "shrink"
			},
			"resolution": 3
		},
		"spawnOffset": [0,20],
		"fogParticleSpecification":{
			"type" : "textured",
			"image" : "/particles/fog/1.png",
			"fullbright" : false,
			"layer" : "front",
			"destructionAction" : "fade",
			"timeToLive" : 0.5,
			"position" : [0,0],
			"destructionTime" : 1,
			"initialVelocity" : [0,0],
			"variance" : {
				"angularVelocity" : 60,
				"initialVelocity" : [0,0]
			}
		}
	}
}