{
	"tag": "iNF",
	"name": "inFamous",
	"settings": {
		"disableSolidHitbox": false,
		"stopPassiveVisuals": false,
		"persistent": false,
		"energyConsumption": {
			"type": "instant",
			"amount": 10
		},
		"lift_easing": "inOutSine",
		"lift_displacement": [0,5],
		"stage2Duration": 300,
		"nextArmFrame": 30,
		"projectile":{
			"radius": 2.5,
			"horizontal_size": 8,
			"overrides":{
				"layer": "middle",
				"timeToLive": 0.2,
				"destructionTime": 0.15,
				"destructionAction": "shrink"
			},
			"resolution": 4
		},
		"spawnOffset": [0,20],
		"fogParticleSpecification":{
			"type" : "textured",
			"image" : "/particles/fog/1.png",
			"fullbright" : false,
			"layer" : "front",
			"destructionAction" : "fade",
			"timeToLive" : 0.5,
			"position" : [0,0],
			"destructionTime" : 1,
			"initialVelocity" : [0,0],
			"variance" : {
				"angularVelocity" : 60,
				"initialVelocity" : [0,0]
			}
		},
		"rainParticleSpecifications":[
			{
				"type" : "ember",
				"color" : [212, 219, 247],
				"velocity" : [0, -12],
				"angularVelocity" : 0,
				"timeToLive" : 20,
				"size" : 1,
				"layer":"back",
				"collidesForeground" : true,
				"collidesLiquid" : true,
				"ignoreWind" : false,
				"variance" : {
					"position" : [0,5],
					"velocity": [5,0]
				}
			},{
				"type" : "ember",
				"color" : [239, 242, 254],
				"velocity" : [0, -11],
				"angularVelocity" : 0,
				"timeToLive" : 20,
				"size" : 1,
				"layer":"back",
				"collidesForeground" : true,
				"collidesLiquid" : true,
				"ignoreWind" : false,
				"variance" : {
					"position" : [0,5],
					"velocity": [5,0]
				}
			},{
				"type" : "ember",
				"color" : [246, 250, 250],
				"velocity" : [0, -14],
				"angularVelocity" : 0,
				"timeToLive" : 20,
				"size" : 1,
				"layer":"back",
				"collidesForeground" : true,
				"collidesLiquid" : true,
				"ignoreWind" : false,
				"variance" : {
					"position" : [0,5],
					"velocity": [5,0]
				}
			}
		]
	}
}