{
    "name": "Slash",
    "tag": "sLR",
    "series": "standard",
    "settings":{
        "energyConsumption": {
            "type": "instant", //instant, drain
            "amount": 1 //Positive numbers (% of energy drained)
        },
        "disableSolidHitbox": false,
        "stopPassiveVisuals": false,
        "persistent": false,
        "canSkillCancel": true,
        "radius": 5,
        "easing": "inQuad"
    }
}