{
	"tag": "Rol",
	"series": "standard",
	"settings": {
		"disableSolidHitbox": false,
		"stopPassiveVisuals": false,
		"canSkillCancel": true,
		"energyConsumption": {
			"type": "instant",
			"amount": 10
		},
		"shape_params":[ //order goes: outer hex, outer triangle, inner hex
			{
				"sides": 6,
				"size": 3
			},
			{
				"sides": 3,
				"size": 6
			},
			{
				"sides": 6,
				"size": 6
			}
		],
		"lineConfigOverride":{
			"destructionTime": 0.05,
			"destructionAction": "shrink",
			"variance":{
				"position": [0.125,0.125]
			}
		},
		"easing": "inOutQuad",
		"projectileStagesDuration": 20, //Ticks
		"travelStageDuration": 20 //Ticks
	},
	"name": "Roll"
}