{
    "name": "Impervious",
    "tag": "iMP",
    "series": "standard",
    "settings":{
        "energyConsumption": {
            "type": "drain", //instant, drain
            "amount": 1 //Positive numbers (% of energy drained)
        },
        "disableSolidHitbox": true,
        "stopPassiveVisuals": true,
        "persistent": false,
        "canSkillCancel": false,
        "radius": 5,
        "easing": "linear"
    }
}