{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF00",
			"fileBody" : "/interface/apollinarisConfig/thingy.png?multiply=FFFFFF00",
			"fileFooter" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF00"
		},
		"actualBody" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/thingy.png?multiply=FFFFFF00?setcolor=616161",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 0],
			"zlevel": -100
		},
		"actualHeader" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 210],
			"zlevel": 100
		},
		"actualFooter" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 0],
			"zlevel" : 100
		},
		"purple" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 200],
			"zlevel": 100
		},
		"purpleLabel" : {
			"type" : "label",
			"position" : [10, 201],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 100
		},
		"titleLabel" : {
			"type" : "label",
			"position" : [1, 211],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 500,
			"value" : "",
			"zlevel": 100
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/apollinarisConfig/quit.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/quitHover.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/quitPressed.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [342, 212],
			"zlevel": 100
		},
		"settings" : {
			"type" : "button",
			"base" : "/interface/apollinarisConfig/quit.png?multiply=FFFFFF00?hueshift=180",
			"hover" : "/interface/apollinarisConfig/quitHover.png?multiply=FFFFFF00?hueshift=180",
			"pressed" : "/interface/apollinarisConfig/quitPressed.png?multiply=FFFFFF00?hueshift=180",
			"pressedOffset" : [0, 0],
			"callback" : "settingsButton",
			"position" : [332, 212],
			"zlevel": 100
		},
		"homeButton" : {
			"type" : "button",
			"base" : "/interface/apollinarisConfig/quit.png?multiply=FFFFFF00?hueshift=270",
			"hover" : "/interface/apollinarisConfig/quitHover.png?multiply=FFFFFF00?hueshift=270",
			"pressed" : "/interface/apollinarisConfig/quitPressed.png?multiply=FFFFFF00?hueshift=270",
			"pressedOffset" : [0, 0],
			"callback" : "homeButtonOpen",
			"position" : [2, 202],
			"zlevel": 100
		},
		"buttono1" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "button1Open",
			"zlevel" : 1
		},
		"buttono2" : {
			"type" : "button",
			"position" : [5, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "button2Open",
			"zlevel" : 1
		},
		"charButton1" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"base" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "charButton1Open",
			"zlevel" : 1
		},
		"charButton2" : {
			"type" : "button",
			"position" : [95, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"base" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "charButton2Open",
			"zlevel" : 1
		},
		"charButton3" : {
			"type" : "button",
			"position" : [180, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"base" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "charButton3Open",
			"zlevel" : 1
		},
		"charButton4" : {
			"type" : "button",
			"position" : [265, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"base" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/verticalButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "charButton4Open",
			"zlevel" : 1
		},
		"buttono3" : {
			"type" : "button",
			"position" : [180, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "button3Open",
			"zlevel" : 1
		},
		"buttono4" : {
			"type" : "button",
			"position" : [180, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "button4Open",
			"zlevel" : 1
		},
		"settingsButton1" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "settingsButton1Open",
			"zlevel" : 1
		},
		"settingsButton2" : {
			"type" : "button",
			"position" : [5, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "settingsButton2Open",
			"zlevel" : 1
		},
		"settingsButton3" : {
			"type" : "button",
			"position" : [180, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "settingsButton3Open",
			"zlevel" : 1
		},
		"contactLabel" : {
			"type" : "label",
			"position" : [175, 190],
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 320,
			"value" : "Call me <3",
			"zlevel": 1
		},
		"settingsButton4" : {
			"type" : "button",
			"position" : [180, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "settingsButton4Open",
			"zlevel" : 1
		},
		"setupButton1" : {
			"type" : "button",
			"position" : [5, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "setupButton1Open",
			"zlevel" : 1
		},
		"colorSlider1" : {
			"type" : "slider",
			"range": [0, 255, 1],
			"position" : [20, 168],
			"gridImage" : "/interface/apollinarisConfig/sliderColor.png?setcolor=FF0000",
			"callback": "colorSlider1Callback",
			"jogImages" : {
				"baseImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E",
				"hoverImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=10",
				"pressedImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-10",
				"disabledImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-40"
			},
			"padding" : 20,
			"showSpinner": false
		},
		"colorSlider2" : {
			"type" : "slider",
			"range": [0, 255, 1],
			"position" : [20, 139],
			"gridImage" : "/interface/apollinarisConfig/sliderColor.png?setcolor=00FF00",
			"jogImages" : {
				"baseImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E",
				"hoverImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=10",
				"pressedImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-10",
				"disabledImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-40"
			},
			"callback": "colorSlider2Callback",
			"padding" : 20,
			"showSpinner": false
		},
		"colorSlider3" : {
			"type" : "slider",
			"range": [0, 255, 1],
			"position" : [20, 110],
			"gridImage" : "/interface/apollinarisConfig/sliderColor.png?setcolor=0000FF",
			"jogImages" : {
				"baseImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E",
				"hoverImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=10",
				"pressedImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-10",
				"disabledImage" : "/interface/apollinarisConfig/jog.png?setcolor=9E9E9E?brightness=-40"
			},
			"padding" : 20,
			"callback": "colorSlider3Callback",
			"showSpinner": false
		},
		"colorLookup" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/colorPick.png?multiply=FFFFFF00?setcolor=000000",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [222, 110],
			"zlevel": 1
		},
		"colorUIAdapt" : {
			"type" : "button",
			"position" : [48, 80],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/colorButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/colorButton.png?multiply=FFFFFF00",
			"baseImageChecked" : "/interface/apollinarisConfig/colorButton.png?multiply=FFFFFF00",
			"hoverImageChecked" : "/interface/apollinarisConfig/colorButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "colorUIAdaptOpen",
			"zlevel" : 1
		},
		"colorHexImage" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/hex.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [222, 80],
			"zlevel": 1
		},
		"colorHexText" : {
			"type" : "textbox",
			"position" : [228, 83],
			"textAlign" : "center",
			"fontSize" : 15,
			"maxWidth" : 60,
			"hint" : "Hex",
			"regex" : "[a-fA-F0-9]{0,6}",
			"enterKey": "setHexColor",
			"callback": "null",
			"zlevel": 1
		},
		"colorAccept" : {
			"type" : "button",
			"position" : [110, 25],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/acceptColor.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/acceptColor.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/acceptColor.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "colorAcceptOpen",
			"zlevel" : 1
		},
		"setupButton2" : {
			"type" : "button",
			"position" : [180, 110],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/button.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "setupButton2Open",
			"zlevel" : 1
		},
		"setupButton3" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/bigButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/bigButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/bigButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "setupButton3Open",
			"zlevel" : 1
		},
		"routeButton1" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeButton1Callback",
			"zlevel" : 3
		},
		"routeButton2" : {
			"type" : "button",
			"position" : [120, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeButton2Callback",
			"zlevel" : 3
		},
		"routeButton3" : {
			"type" : "button",
			"position" : [235, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/routeButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeButton3Callback",
			"zlevel" : 3
		},
		"routePane1" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/routePane.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [5, 15],
			"zlevel": 1
		},
		"routePane2" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/routePane.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [115, 15],
			"zlevel": 1
		},
		"routePane3" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/routePane.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [235, 15],
			"zlevel": 1
		},
		"routeSubButton1" : {
			"type" : "button",
			"position" : [5, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeSubButton1Callback",
			"zlevel" : 2
		},
		"routeSubButton2" : {
			"type" : "button",
			"position" : [115, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeSubButton2Callback",
			"zlevel" : 2
		},
		"routeSubButton3" : {
			"type" : "button",
			"position" : [235, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/acceptRouteButton.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "routeSubButton3Callback",
			"zlevel" : 2
		},
		"routeText1" : {
			"type" : "label",
			"position" : [5, 190],
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 2
		},
		"routeText2" : {
			"type" : "label",
			"position" : [115, 190],
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 2
		},
		"routeText3" : {
			"type" : "label",
			"position" : [235, 190],
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 2
		},
		"noClipSlider1" : {
			"type" : "slider",
			"range": [0, 100, 1],
			"position" : [5, 125],
			"gridImage" : "/interface/apollinarisConfig/noClipSlider.png?setcolor=9E9E9E?brightness=-20",
			"callback": "noClipSlider1Callback",
			"jogImages" : {
				"baseImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E",
				"hoverImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=10",
				"pressedImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=-10",
				"disabledImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=-40"
			},
			"padding" : 20,
			"showSpinner": false
		},
		"noClipLabel1" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/noClipLabel.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [5, 185],
			"zlevel": 1
		},
		"noClipLabelText1" : {
			"type" : "label",
			"position" : [175, 186],
			"hAnchor" : "mid",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 1
		},
		"noClipSlider2" : {
			"type" : "slider",
			"range": [0, 100, 1],
			"position" : [5, 50],
			"gridImage" : "/interface/apollinarisConfig/noClipSlider.png?setcolor=9E9E9E?brightness=-20",
			"callback": "noClipSlider2Callback",
			"jogImages" : {
				"baseImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E",
				"hoverImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=10",
				"pressedImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=-10",
				"disabledImage" : "/interface/apollinarisConfig/noClipJog.png?setcolor=9E9E9E?brightness=-40"
			},
			"padding" : 20,
			"showSpinner": false
		},
		"noClipLabel2" : {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/noClipLabel.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [5, 110],
			"zlevel": 1
		},
		"noClipLabelText2" : {
			"type" : "label",
			"position" : [175, 111],
			"hAnchor" : "mid",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"value" : "",
			"zlevel": 1
		},
		"noClipAccept" : {
			"type" : "button",
			"position" : [115, 15],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"wrapWidth" : 240,
			"base" : "/interface/apollinarisConfig/acceptNoClip.png?multiply=FFFFFF00",
			"hover" : "/interface/apollinarisConfig/acceptNoClip.png?multiply=FFFFFF00",
			"pressed" : "/interface/apollinarisConfig/acceptNoClip.png?multiply=FFFFFF00",
			"pressedOffset" : [0, 0],
			"callback" : "noClipAcceptCallback",
			"zlevel" : 1
		},
		"introCanvas": {
			"zlevel" : 1,
			"type" : "canvas",
			"size" : [350,220],
			"position": [0,0],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},
		"animatedIntroCanvas": {
			"zlevel" : -101,
			"type" : "canvas",
			"size" : [350,220],
			"position": [0,0],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"transition": {
			"type" : "image",
			"file" : "/interface/apollinarisConfig/transition.png?multiply=FFFFFF00",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [0, 200],
			"zlevel": 10
		}
	},	

	"scriptWidgetCallbacks" : [
		"settingsButton",
		"homeButtonOpen",
		"button1Open",
		"button2Open",
		"button3Open",
		"button4Open",
		"settingsButton1Open",
		"settingsButton2Open",
		"settingsButton3Open",
		"settingsButton4Open",
		"setupButton1Open",
		"setupButton2Open",
		"setupButton3Open",
		"charButton1Open",
		"charButton2Open",
		"charButton3Open",
		"charButton4Open",
		"colorUIAdaptOpen",
		"colorAcceptOpen",
		"colorHexTextCallback",
		"colorSlider1Callback",
		"colorSlider2Callback",
		"colorSlider3Callback",
		"setHexColor",
		"routeButton1Callback",
		"routeButton2Callback",
		"routeButton3Callback",
		"routeSubButton1Callback",
		"routeSubButton2Callback",
		"routeSubButton3Callback",
		"noClipSlider1Callback",
		"noClipSlider2Callback",
		"noClipAcceptCallback"
	],
	"scripts" : ["/interface/apollinarisConfig/apollinarisConfig.lua"],
	"scriptDelta" : 1,
	
	"canvasClickCallbacks" : {
		"introCanvas" : "introCanvasClickEvent"
	},

	"defaultCost" : 5
}