{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF",
			"fileBody" : "/interface/apollinarisConfig/thingy.png?multiply=FFFFFF",
			"fileFooter" : "/interface/apollinarisConfig/header.png?multiply=FFFFFF"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/apollinarisConfig/quit.png",
			"hover" : "/interface/apollinarisConfig/quitHover.png",
			"pressed" : "/interface/apollinarisConfig/quitPressed.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [342, 212],
			"zlevel": 100
		},
		"mainCanvas": {
			"zlevel" : 1,
			"type" : "canvas",
			"size" : [350,220],
			"position": [0,0],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : true
		}
	},
	"scripts" : ["/interface/apollinaris/main.lua"],
	"scriptDelta" : 1,
	
	"canvasClickCallbacks" : {
		"mainCanvas" : "canvasClickEvent"
	},
    "canvasKeyCallbacks" : {
        "mainCanvas" : "canvasKeyEvent"
    },
    "scriptWidgetCallbacks" : []
}