{
	"tag": "Rol",
	"series": "standard",
	"settings": {
		"disableSolidHitbox": false,
		"stopPassiveVisuals": false,
		"canSkillCancel": true,
		"energyConsumption": {
			"type": "instant",
			"amount": 10
		},
		"shape_config":[ //order goes: outer hex, outer triangle, inner hex
			{
				"sides": 6,
				"size": 3,
				"color_index": 1,
				"angle_offset": 0,
				"rotation_axis": "x"
				
			},
			{
				"sides": 3,
				"size": 6,
				"color_index": 3,
				"angle_offset": 0,
				"rotation_axis": "y"
			},
			{
				"sides": 3,
				"size": 6,
				"color_index": 3,
				"angle_offset": 60,
				"rotation_axis": "y"
			},
			{
				"sides": 6,
				"size": 6,
				"color_index": 6,
				"angle_offset": 0,
				"rotation_axis": "z"
			}
		],
		"lineConfigOverride":{
			"destructionTime": 0.05,
			"destructionAction": "shrink",
			"variance":{
				"position": [0.0,0.0]
			}
		},
		"easing": "inOutQuad",
		"projectileStagesDuration": 45, //Ticks
		"travelStageDuration": 30 //Ticks
	},
	"name": "Roll"
}