{
    "slaveControlTimeout" : 2.0,
	"slaveControlHeartbeat" : 1.0,
    "clientEntityMode" : "ClientMasterAllowed",
    "scripts" : [
        "/monsters/unsorted/monsterLightning/monsterLightning.lua"
    ],
    "animationScripts" : [
        "/items/active/effects/lightning.lua"
    ],
    "behaviorConfig" : {
      "damageOnTouch" : false,

      "targetOnDamage" : false
    },
    "appliesWeatherStatusEffects" : false,
    "primaryScriptSources" : [
        "/scripts/apollinaris/util/immune_monster_primary.lua"
    ],
    "primaryScriptDelta" : 0,
    "scriptDelta" : 1,
    "damageTeamType" : "friendly",
    "chains" : [],
    "animationCustom": {
        "particleEmitters":{
            "deathPoof": {
                "particles": []
            }
        },
        "sounds": {
            "deathPuff": []
        },
        "animatedParts":{
            "parts" : {
                "body" : {
                    "properties" : {
                        "image": ""
                    },
                "partStates" : {
                    "body" : {
                        "idle" : {
                            "properties" : {
                                "image" : ""
                            }
                        },
                        "walk" : {
                            "properties" : {
                                "image" : ""
                            }
                        },
                        "fall" : {
                            "properties" : {
                                "image" : ""
                            }
                        }
                    },
                    "damage" : {
                        "stunned" : {
                            "properties" : {
                                "image" : ""
                            }
                        }
                    }
                }
            }
        }
        }
    }
}